* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --bgdark: #fafafa;
}

.header-list {
  display: flex;
  gap: 2.2rem;
  list-style: none;
  font-size: 1.3rem;
}

.header-list a {
  text-decoration: none;
  color: black;
}

nav {
  display: flex;
  align-items: center;
  padding-left: 15rem;
  box-shadow: 0px 2px 10px grey;
  height: 4rem;
}

main {
  height: 850px;
}

footer {
  display: flex;
  justify-content: center;
  padding-top: 1.2rem;
  border-top: 1px solid black;
}
